// Base Colors
$black: #000000;
$white: #ffffff;

// Background Colors
$bg-primary: $black;
$bg-primary-light: #111111;
$bg-transparent: transparent;
$bg-transparent-dark: rgba(0, 0, 0, 0.1);
$bg-gray: #333333;

// Text Colors
$text-primary: $white;
$text-dark: $black;
$text-light: $white;

// Border Colors
$separator-color: #ffffff5b;
$border-color: #969696;
$border-color-transparent: transparent;

// Background System Colors
$background-light: $white;
$background-dark: $black;