@use '@styles/utils';

.splash {
    position: fixed;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    background-color: utils.$bg-primary;

    display: flex;
    align-items: center;
    justify-content: center;

    .intro {
        min-width: 30vw;
        display: flex;
        align-items: center;
        gap: 40px;

        font-weight: 200;
        font-size: 25px;

        span {
            display: block;
            width: max-content;
        }

        @include utils.desktop() {
            font-size: 40px;
            gap: 1rem;
        }

        .statement {
            @include utils.desktop() {}
        }

        .info {
            position: relative;

            .full_name {}

            .profession {
                font-size: 60%;
                font-weight: 400;

                position: absolute;
                top: 100%;

                .exit {
                    @include utils.desktop() {
                        position: absolute;
                        font-weight: 200;

                        top: 0;
                        left: calc(100%);
                    }
                }
            }
        }
    }

    .welcome {
        font-size: 40px;
        font-weight: 200;
        color: utils.$text-primary;

        position: absolute;
        left: 50%;
        top: 50%;

        transform: translateX(-50%) translateY(-50%);
    }
}