@use '@styles/utils';

.sidebar {
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;

    transform: translateX(0%);
    transition: all .4s ease-in-out;
    z-index: 2;

    &.hidden {
        transform: translateX(-100%);
    }

    &_close_button {
        all: unset;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;

        position: absolute;
        top: 30px;
        right: 30px;

        padding: 10px;
        background-color: utils.$bg-transparent-dark;
        border-radius: 100%;

        z-index: 2;
        cursor: pointer;

        @include utils.darkMode() {
            background-color: utils.$white;
        }
    }

    &_handle {
        display: none;
    }

    @include utils.desktop() {
        &:hover {
            .sidebar_handle {
                transition: all .3s ease-in-out;
                opacity: 0;
            }
        }

        &.hidden {
            transform: translateX(calc(-100% + 100px));
        }

        &_close_button {
            display: none;
        }

        &_handle {
            height: 60%;
            width: 70px;
            margin-left: 30px;

            background-color: transparent;
            color: utils.$text-dark;
            box-shadow: 0 currentColor;
            border-left: 1px solid utils.$border-color-dark;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .3s ease-in-out;

            @include utils.darkMode() {
                color: utils.$text-light;
                border-left: 1px solid utils.$border-color-light;
            }

            span {
                display: block;

                font-weight: 300;
                font-size: 30px;
                line-height: 1;
                text-transform: uppercase;

                writing-mode: vertical-rl;
                text-orientation: sideways-right;

                text-align: center;
                user-select: none;
            }
        }
    }
}