@use '@styles/utils';

.menu {
    @include utils.tablet() {
        width: fit-content;
        height: 100vh;

        padding-inline: 40px;
        padding-block: 80px;

        border-left: 2px dashed white;

        color: utils.$text-primary;
        background-color: utils.$bg-transparent;
        backdrop-filter: blur(4px);

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &_title {
            display: block;
            width: 100%;

            border-bottom: 2px solid utils.$separator-color;

            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;

            margin-bottom: 30px;
        }
    }

    @include utils.desktop() {
        width: fit-content;
        height: auto;

        margin-right: 40px;
        margin-top: 40px;
        padding: 20px;

        box-shadow: 0 currentColor;
        border-right: 1px solid utils.$border-color-transparent;
        border-left: none;
        border-radius: 50px 0 0 50px;

        justify-content: center;

        &.side_line {
            transition: all 0.3s ease-in-out;
            border-color: utils.$border-color;

            &:hover {
                transition: all 0.3s ease-in-out;
                box-shadow: 1px 0 currentColor;
            }
        }

        &_title {
            display: none;
        }
    }

    a>span {
        @include utils.tablet() {
            font-weight: 200;
            font-size: 40px;
            text-transform: uppercase;
            display: block;

            transform: scale(1);
            text-shadow: 0;

            transition: all 0.3s ease-in-out;
        }

        @include utils.desktop() {
            font-weight: 200;
            font-size: 40px;
            text-transform: uppercase;
            display: block;

            transform: scale(1);
            text-shadow: 0;

            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;

                text-shadow:
                    -0.5px -0.5px 0 currentColor,
                    0.5px -0.5px 0 currentColor,
                    -0.5px 0.5px 0 currentColor,
                    0.5px 0.5px 0 currentColor;
            }
        }
    }
}