@use '@styles/utils';

.menu {
    width: 100dvw;
    height: 100dvh;

    padding-inline: 40px;
    padding-block: 120px;

    border-left: 1px dashed white;
    background-color: utils.$bg-transparent-dark;
    backdrop-filter: blur(4px);

    color: utils.$text-primary;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_title {
        display: block;
        width: 100%;

        padding-block: 0px;
        border-bottom: 2px solid utils.$separator-color;

        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;

        margin-bottom: 30px;
    }

    &_handle {
        display: none;
    }

    @include utils.tablet() {
        width: fit-content;

        &_title {}
    }

    @include utils.desktop() {
        width: 350px;
        height: 60vh;
        position: relative;

        margin-right: 40px;
        padding: 20px;

        box-shadow: 0 currentColor;
        border-right: 1px solid utils.$border-color;
        border-left: none;
        border-radius: 50px 0 0 50px;

        background-color: transparent;
        backdrop-filter: none;

        transition: all .5s ease-out;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        a {
            transition: transform 0.5s ease-out;
            transform: translateX(0);
            background-color: utils.$bg-transparent;
            backdrop-filter: blur(4px);
            padding-left: 10px;
        }

        &.hide_links {
            width: 70px;
            transition: all .5s ease-out;

            a {
                transition: transform 0.5s ease-out;
                transform: translateX(200%);
            }

            .menu_handle {
                @include utils.fade_in();
            }
        }

        &_handle {
            @include utils.fade_out(.2s);

            display: block;
            position: absolute;
            top: 0;
            right: 0;

            width: 70px;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-weight: 200;
                font-size: 40px;
                line-height: 1;
                text-transform: uppercase;

                writing-mode: vertical-lr;
                transform: rotate(180deg);

                text-align: center;
                user-select: none;
            }
        }

        &_title {
            display: none;
        }
    }

    a>span {
        font-weight: 200;
        font-size: 30px;
        text-transform: uppercase;
        display: block;

        transform: scale(1);
        text-shadow: 0;

        transition: all 0.3s ease-in-out;

        @include utils.tablet() {
            font-size: 40px;
        }

        @include utils.desktop() {
            font-weight: 200;
            font-size: 40px;
            text-transform: uppercase;
            display: block;

            transform: scale(1);
            text-shadow: 0;

            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;

                text-shadow:
                    -0.5px -0.5px 0 currentColor,
                    0.5px -0.5px 0 currentColor,
                    -0.5px 0.5px 0 currentColor,
                    0.5px 0.5px 0 currentColor;
            }
        }
    }
}