@use '@styles/utils';

.landing {
    min-height: 100vh;
    width: 100vw;

    background-color: utils.$bg-primary;
    position: relative;

    display: flex;

    @include utils.tablet() {

        .sidebar_open_button,
        .sidebar_close_button {
            all: unset;
        }

        .sidebar_open_button {
            @include utils.spin();

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            position: fixed;
            left: 30px;
            top: 30px;

            font-size: 20px;
            font-weight: 200;
        }

        .sidebar_close_button {
            @include utils.spin(6s);

            display: block;

            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    @include utils.desktop() {

        .sidebar_open_button,
        .sidebar_close_button {
            display: none;
        }
    }

    .sidebar {
        @include utils.tablet() {
            height: 100vh;

            position: fixed;
            left: 0;
            top: 0;

            display: flex;
            align-items: center;

            &.hidden {
                transform: translateX(-100%);
            }

            transform: translateX(0%);
            transition: all .4s ease-in-out;
        }

        @include utils.desktop() {
            &.hidden {
                transform: translateX(calc(-100% + 100px));
            }

            &:hover {
                .sidebar_handle {
                    transition: all .3s ease-in-out;
                    opacity: 0;
                }
            }

            span {
                display: block;
            }
        }

        z-index: 2;

        &_handle {
            @include utils.tablet() {
                span {
                    display: none;
                }
            }

            @include utils.desktop() {
                height: 60%;
                width: 70px;
                margin-left: 30px;

                background-color: transparent;
                color: utils.$text-primary;
                box-shadow: 0 currentColor;
                border-left: 1px solid utils.$border-color;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: all .3s ease-in-out;

                span {
                    display: block;

                    font-weight: 200;
                    font-size: 40px;
                    line-height: 1;
                    text-transform: uppercase;

                    writing-mode: vertical-rl;
                    text-orientation: sideways-right;

                    text-align: center;
                    user-select: none;
                }
            }
        }
    }

    .main {
        @include utils.tablet() {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            gap: 120px;

            padding-inline: 6vw;
            padding-block: 15vh;
        }

        @include utils.desktop() {
            width: 100%;
            height: 100%;

            padding-inline: 15vw;
            padding-block: 20vh;
        }

        section {
            @include utils.tablet() {
                width: 100%;
                color: utils.$text-primary;

                display: flex;
                flex-direction: column;
                gap: 50px;
            }

            .section_title {
                @include utils.tablet() {
                    width: 100%;

                    font-weight: 200;
                    font-size: 60px;

                    text-transform: uppercase;
                    border-bottom: 1px solid utils.$border-color;
                }
            }

            .entry {
                @include utils.tablet() {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    background-color: utils.$bg-primary-light;
                    padding: 20px;
                    border-radius: 20px;
                }

                &_header {
                    @include utils.tablet() {
                        display: flex;
                        align-items: center;
                        gap: 30px;
                    }

                    .employer {
                        @include utils.tablet() {
                            display: flex;
                            align-items: center;
                        }

                        @include utils.desktop() {
                            &:hover {
                                a {
                                    img {
                                        animation: rotate360 1.2s linear forwards;
                                    }
                                }
                            }
                        }
                    }

                    .dash {
                        @include utils.tablet() {
                            flex-shrink: 0;
                            width: 20px;
                            height: 2px;
                            background-color: utils.$text-primary;
                        }
                    }

                    .job_title {
                        @include utils.tablet() {
                            font-size: 40px;
                            font-weight: 300;

                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }

                .details {
                    @include utils.tablet() {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                    }

                    .time_period,
                    .location {
                        @include utils.tablet() {
                            display: flex;
                            gap: 10px;

                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                }

                .description {
                    @include utils.tablet() {
                        max-width: 100%;

                        font-size: 20px;
                        font-weight: 300;
                    }

                    @include utils.desktop() {
                        max-width: 60vw;
                    }

                    ul {
                        @include utils.tablet() {
                            padding-left: 20px;
                            list-style-position: outside;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }

    .navigation {
        position: fixed;
        right: 0;
        top: 0;

        flex-shrink: 0;

        transform: translateX(0);
        transition: all .3s ease-in-out;

        &.hidden {
            transform: translateX(100%);
            transition: all .3s ease-in-out;
        }
    }

    @include utils.tablet() {
        .navigation_open_button {
            &.hidden {
                display: none;
            }

            img {
                @include utils.spin();
            }

            all: unset;

            position: fixed;
            right: 30px;
            top: 30px;
        }

        .navigation_close_button {
            img {
                @include utils.spin();
            }

            all: unset;

            position: fixed;
            right: 30px;
            top: 30px;
        }
    }

    @include utils.desktop() {
        .navigation_open_button, .navigation_close_button {
            display: none;
        }
    }
}

@keyframes rotate360 {
    0% {
        transform: perspective(300px) rotateY(0deg);
    }

    100% {
        transform: perspective(300px) rotateY(360deg);
    }
}