@use '@styles/utils';

.landing {
    min-height: 100vh;
    width: 100vw;
    position: relative;

    background-image: url('/images/white-swirl.png');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 70vw;
    background-position: right center;

    @include utils.desktop() {
        background-size:  60vh;
        background-position: right 15vw center;
        background-attachment: fixed;
    }
}