@import '/app/styles/commons.scss';

.landing {
    min-height: 100vh;
    width: 100vw;

    background-color: black;
    position: relative;

    display: flex;

    .sidebar {
        height: 100vh;

        position: fixed;
        left: 0;
        top: 0;

        display: flex;
        align-items: center;

        &.hidden {
            transform: translateX(calc(-100% + 100px));
        }

        transform: translateX(0%);
        transition: all .4s ease-in-out;

        &:hover {
            .sidebar_handle {
                transition: all .3s ease-in-out;
                opacity: 0;
            }
        }

        &_handle {
            height: 60%;
            width: 70px;
            margin-left: 30px;

            background-color: transparent;
            color: white;
            box-shadow: 0 currentColor;
            border-left: 1px solid #969696;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .3s ease-in-out;

            span {
                display: block;

                font-weight: 200;
                font-size: 40px;
                line-height: 1;
                text-transform: uppercase;

                writing-mode: vertical-rl;
                text-orientation: sideways-right;

                text-align: center;
                user-select: none;
            }
        }
    }

    .main {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 100px;

        padding-inline: 15vw;
        padding-block: 20vh;

        &.visible {
            opacity: 1;
            transition: all .3s ease-in-out;
        }

        section {
            width: 100%;
            color: white;

            display: flex;
            flex-direction: column;
            gap: 40px;

            .section_title {
                width: 100%;

                font-weight: 200;
                font-size: 60px;

                text-transform: uppercase;
                border-bottom: 1px solid #969696;
            }

            .entry {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &_header {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .employer {
                        display: flex;
                        align-items: center;

                        &:hover {
                            a {
                                img {
                                    animation: rotate360 1.2s linear forwards;
                                }
                            }

                            span {}
                        }
                    }

                    .separator {
                        width: 20px;
                        height: 1px;
                        background-color: #ffffff;
                    }

                    .job_title {
                        font-size: 40px;
                        font-weight: 300;
                    }
                }

                .details {
                    display: flex;
                    align-items: center;
                    gap: 40px;

                    .time_period,
                    .location {
                        display: flex;
                        gap: 10px;

                        font-size: 20px;
                        font-weight: 500;
                    }

                    .location {}
                }

                .description {
                    max-width: 60vw;

                    font-size: 20px;
                    font-weight: 300;

                    ul {
                        list-style-position: inside;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        li {

                        }
                    }
                }
            }
        }
    }

    .navigation {
        position: fixed;
        right: 0;
        top: 0;

        flex-shrink: 0;
    }
}

@keyframes rotate360 {
    0% {
        transform: perspective(300px) rotateY(0deg);
    }

    100% {
        transform: perspective(300px) rotateY(360deg);
    }
}