@use '@styles/utils';

.cv {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 100px;

    padding-inline: 5vw;
    padding-block: 10vh;

    &.visible {
        opacity: 1;
        transition: all .3s ease-in-out;
    }

    .dash {
        display: none;
    }

    section {
        width: 100%;
        color: white;

        display: flex;
        flex-direction: column;
        gap: 40px;

        .section_title {
            width: 100%;

            font-weight: 200;
            font-size: 60px;

            text-transform: uppercase;
            border-bottom: 1px solid #969696;
        }

        .entry {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &_header {
                display: flex;
                align-items: center;
                gap: 30px;

                .employer {
                    display: flex;
                    align-items: center;

                    &:hover {
                        a {
                            img {
                                animation: rotate360 1.2s linear forwards;
                            }
                        }

                        span {}
                    }
                }

                .separator {
                    width: 20px;
                    height: 1px;
                    background-color: #ffffff;
                }

                .job_title {
                    font-size: 40px;
                    font-weight: 300;

                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .details {
                display: flex;
                align-items: center;
                gap: 40px;

                .time_period,
                .location {
                    display: flex;
                    gap: 10px;

                    font-size: 20px;
                    font-weight: 500;
                }

                .location {}
            }

            .description {
                font-size: 20px;
                font-weight: 300;

                ul {
                    list-style-position: inside;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    li {}
                }
            }
        }
    }

    @include utils.desktop() {
        padding-inline: 15vw;
        padding-block: 20vh;

        .dash {
            display: block;
            width: 20px;
            height: 1px;
            border-width: 1px;
            border: 1px solid utils.$white;
        }
    }
}