@use '@styles/utils';

.cv {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 60px;

    padding-inline: 6dvw;
    padding-block: 120px 80px;

    transition: all .3s ease-in-out;

    @include utils.tablet() {
        gap: 120px;
        padding-block: 160px 80px;
    }

    @include utils.desktop() {
        padding-inline: 15dvw;
        padding-block: 20dvh;
    }

    section {
        width: 100%;
        color: utils.$text-primary;

        display: flex;
        flex-direction: column;
        gap: 20px;

        @include utils.tablet() {
            gap: 50px;
        }

        .section_title {
            width: 100%;
            height: 45px;

            font-weight: 300;
            font-size: 30px;

            span {
                background-color: utils.$bg-transparent-dark;
                backdrop-filter: blur(4px);
                border-radius: 10px;
                padding-inline: 10px;
                margin-bottom: 10px;
            }

            text-transform: uppercase;
            border-bottom: 1px solid utils.$border-color;

            @include utils.tablet() {
                width: 100%;
                height: 70px;

                font-weight: 300;
                font-size: 50px;

                text-transform: uppercase;
                border-bottom: 1px solid utils.$border-color;
            }

            @include utils.desktop() {}
        }

        .entry {
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: utils.$text-dark;

            background-color: rgba(255, 255, 255, 0.885);
            backdrop-filter: blur(4px);

            padding: 20px;
            border-radius: 10px;

            @include utils.tablet() {
                gap: 20px;

                padding: 20px;
                border-radius: 20px;
            }

            &_header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                .employer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;

                    .company_name {
                        font-size: 20px;
                        font-weight: 700;
                    }

                    @include utils.tablet() {
                        .company_name {
                            font-size: 25px;
                            font-weight: 700;
                        }
                    }

                    @include utils.desktop() {
                        .company_logo {
                            img {
                                transition: all .4s ease-in-out;
                            }
                        }

                        &:hover {
                            .company_logo {
                                img {
                                    @include utils.expand(1.15, .4s);
                                }
                            }
                        }

                        .company_name {}
                    }
                }

                .job_title {
                    font-size: 25px;
                    font-weight: 300;

                    @include utils.tablet() {
                        font-size: 35px;

                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                @include utils.tablet() {
                    flex-direction: row;
                    align-items: center;
                    gap: 40px;
                }

                .time_period,
                .location {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        display: block;
                        line-height: 1;

                        font-size: 16px;
                        font-weight: 350;
                    }

                    img {
                        margin-bottom: 5px;
                    }


                    @include utils.tablet() {
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }

            .description {
                max-width: 100%;

                font-size: 16px;
                font-weight: 400;

                @include utils.tablet() {
                    font-size: 20px;
                }

                @include utils.desktop() {
                    max-width: 60dvw;
                }

                ul {
                    padding-left: 14px;
                    list-style-position: outside;
                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    @include utils.tablet() {
                        padding-left: 20px;
                        list-style-position: outside;
                        gap: 10px;
                    }
                }
            }
        }
    }
}