@use '@styles/utils';

.image_container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid utils.$text-primary;
    overflow: hidden;

    .image_link {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: top - 50px;

            max-width: 220px;

            background-color: transparent;

            border-radius: 9999px;
            border: 2px solid utils.$text-primary;

            @include utils.desktop() {
                max-width: none;

                transition: all 0.2s ease-in-out;
                background-color: transparent;
            }
        }
    }

    .image_overlay {
        display: block;
        width: 100%;
        padding-block: 20px;

        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        text-align: center;

        @include utils.tablet() {}

        @include utils.desktop() {
            height: 0;
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.5s ease-in-out;
        }
    }

    @include utils.desktop() {
        &:hover {
            .image_link {
                img {
                    transition: all 0.2s ease-in-out;
                    border: 8px solid utils.$text-primary;
                }
            }

            .image_overlay {
                opacity: 1;
                transform: translateY(0);
                height: 100px;

                transition: all 0.3s ease-in-out;
            }
        }
    }
}